span.emph {
	font-weight: bold; 
	display: inherit; 
}

tr { 
	vertical-align: top; 
}

td:nth-child(1) { 
	padding-right: 1em; 
	text-align: right; 
}

ol > li { 
	margin: 10px 0; 
}

h3 { 
	padding-top: 1em; 
}

/* Color */
/* General background and text colors */
body {
    background-color: beige;
    color: black;
}

/* Link color */
a {
    color: green;
}

/* Headings and emphasized text */
h1, h3, .emph {
    color: black;
}

/* Table styling */
table {
    color: black;
    border-color: black;
}

/* List styling */
ol {
    color: black;
}



