span.emph {
	font-weight: bold; 
	display: inherit; 
}

span.bold {
    font-weight: bold;
}

tr { 
	vertical-align: top; 
}

td:nth-child(1) { 
	padding-right: 1em; 
	text-align: right; 
}

ol > li { 
	margin: 10px 0; 
}

h3 { 
	padding-top: 1em; 
}


/* Color */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
	
	/* Link color */
	a {
	color: green;
	}

	/* Headings and emphasized text */
	h1, h3, .emph {
	color: black;
	}

	/* Table styling */
	table {
	color: black;
	border-color: black;
	}

	/* List styling */
	ol {
	color: black;
	}
}
@media (prefers-color-scheme: dark) {
	/* #010409 
	   #202124
	*/
	body {
		background-color: #202124;
		color: white;
	}
        
	/* Link color */
	a {
	color: #30d830;
	}

	/* Headings and emphasized text */
	h1, h3, .emph {
	color: white;
	}

	/* Table styling */
	table {
	color: white;
	border-color: white;
	}

	/* List styling */
	ol {
	color: white;
	}
}

/* kill dotted underline on abbr tooltips */
abbr[title]{
  text-decoration: none !important;
  border-bottom: 0 !important;
  -webkit-text-decoration: none;  /* safari/webkit */
  text-decoration-line: none;
}

